.side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(141, 141, 141, 0.5);
    z-index: 2;
    transition: all 0.2s;

    .formLogin {
        padding-top: 2%;
        position: absolute;
        left: 0px;
        background-color: white;
        border-radius: 0px 15px 15px 0px;
        width: 35%;
        height: 96%;

        img {
            position: absolute;
            left: 10px;
            width: 25px;
            cursor: pointer;
            border-radius: 50%;
            padding: 5px;

            &:hover {
                background-color: rgb(224, 223, 223);
            }

        }
    }

}

nav {
    width: 90vw;
    margin-right: 10%;

    .subCategories {
        position: absolute;
        font-size: small;
        padding: 30px;
        background-color: white;
        gap: 40px;
        width: fit-content;
        height: fit-content;
        border: 1px solid gray;
        border-radius: 15px;
        box-shadow: 1px 1px 3px gray;
        display: block;
        a{
            color: black;
            text-decoration-line: none;
            &:hover{
                text-decoration-line: underline;
            }
        }

        &.hide {
            display: none;
        }
    }

}

.topNav {
    width: 95%;
    display: flex;
    margin-top: 5%;
    gap: 15px;

    img {
        height: 2.25em;
        align-self: center;
    }

    .loginOrRegister {
        width: 20%;
        height: 3em;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 10px;
        margin-right: 10%;

        img {
            height: 1.8em;
            width: 1.8em;

        }
    }

    .addToWishList {
        height: 2.8em;
        width: 2.8em;
        align-self: center;

        &:active {
            background-color: #b1b1b1;

        }

        img {
            height: 1.8em;
            width: 1.8em;

        }

    }

    .navSearchBox {
        background-color: #f5f5f5;
        border-radius: 50em;
        height: 3.125em;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-around;
        padding: 0px 15px;

        img {
            width: 1.7em;
            height: 1.7em;

        }



        &:hover {
            background-color: #dbd9d9;
            cursor: text;
        }

        input {
            border: none;
            background: none;
            height: 100%;
            font-size: 1em;
            flex: 4;

            &:focus {
                box-decoration-break: clone;
                text-decoration: none;
            }
        }

        textarea:focus,
        input:focus {
            outline: none;
        }

        ::placeholder {
            color: rgb(64, 64, 64);


        }

    }

    button {
        background: none;
        border: none;
        border-radius: 50em;
        cursor: pointer;

        &:hover {
            background-color: #dbd9d9;
        }
    }
}

.navLinks {

    overflow: hidden;
    width: 97%;

    .links {
        display: flex;
        gap: 25px;
        font-size: 0.9em;
        border-bottom: 1px solid rgb(211, 211, 211);
        padding: 1em 0em;
        font-weight: bold;
        color: gray;
        width: 93%;
        justify-content: space-between;

        span {
            display: flex;
            align-items: center;
            gap: 0.5em;
            cursor: pointer;
        }

        img {
            width: 1.5em;
        }

        .link {

            &.action {
                border-bottom: 3px solid rgb(0, 0, 152);
                color: black;
                padding: 0 0 1em 0;
                margin-bottom: -1.1em;

            }

        }

    }

    .navCategoriesWrapper {
        position: relative;
        width: 100%;
        border-bottom: 2px solid #d4d4d4;


        &:hover {

            .arrowButtons {
                display: block;
            }
        }

        .arrowButtons {
            display: none;

        }

        button {
            position: absolute;
            z-Index: 3;
            top: 40%;
            background-color: black;
            color: white;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            &:hover {
                background-color: rgb(53, 52, 52);
                cursor: pointer;
            }

            &.backward {
                right: 1%
            }

            &.forward {
                left: 1%;
            }
        }



        .navCategories {
            width: fit-content;
            display: flex;
            height: 230px;
            align-items: center;
            text-align: center;
            gap: 20px;
            position: relative;
            transition: all 0.2s;
            margin: -1em;

            &_withoutIMG {
                color: gray;
                margin-top: 20px;

                .showAll {
                    font-weight: bold;
                    color: rgb(56, 56, 56);
                    margin-top: 0px;
                }

                .category,
                .showAll {
                    &:hover {
                        text-decoration-line: underline;
                    }
                }
            }

            .category {
                width: 7.5em;
                height: 7.5em;
                // min-width: fit-content;
                cursor: pointer;

                &:hover {
                    text-decoration-line: underline;
                }

                img {
                    height: 80px;

                    &.blur {
                        opacity: 0.3;
                    }
                }
            }
        }
    }

    .scrollbar {
        margin-top: -2px;
        height: 2px;
        width: 40%;
        background-color: black;
        position: relative;
        transition: all 0.2s;

    }


}