

.image {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    &:hover {
        .spotAtImage {
            display: block;
        }
    }

    .spotAtImage {
        display: none;
    }
}